spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/blog
    username: postgres
    password: yassine2004
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop #update 
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    database: POSTGRESQL
    database-platform: org.hibernate.dialect.PostgreSQLDialect